@import "tailwindcss";
@import "./App.css";

@font-face {
  font-family: "NeutralSans";
  src: url("./assets/fonts/NeutralSans-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NeutralSans";
  src: url("./assets/fonts/NeutralSans-Meidum.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NeutralSans";
  src: url("./assets/fonts/MyFont-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NeutralSans";
  src: url("./assets/fonts/MyFont-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

:root {
  /* --font-sans: "NeutralSans", system-ui, sans-serif; */
  
  --danger: #ff4757;          /* Watermelon */
  --primary: #3742fa;         /* Bright Greek */
  --warning: #ffa502;         /* Orange */
  --secondary: #70a1ff;       /* French Sky Blue */
  --success: #2ed573;         /* UFO Green */
  --neutral-dark: #2f3542;    /* Prestige Blue */
  --neutral-light: #57606f;   /* Grisaille */
  --faded-gray: #a4b0be;      /* Peace */

  --muted-foreground: var(--faded-gray);
  --foreground: var(--neutral-dark);
  --destructive: var(--danger);

}